/* imoprting fonts and defining variables*/

@font-face {
    font-family: "SFUIText";
    src: url("../assets/fonts/sfui/SFUIText-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "SFUIText";
    src: url("../assets/fonts/sfui/SFUIText-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SFUIText";
    src: url("../assets/fonts/sfui/SFUIText-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "SFUIText";
    src: url("../assets/fonts/sfui/SFUIText-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primaryColor: #2AC769;
}

html {
    font-size: 90%;
}

body {
    font-family: "SFUIText";
    overflow-y: scroll;
}

.text1-bold {
    font-size: 1.75rem;
    font-weight: bold;
    opacity: 0.74;
}

.text1-semi-bold {
    font-size: 1.85rem;
    font-weight: 500;
    opacity: 0.70;
}

.text3 {
    font-size: 1rem;
}

.marign {
    margin: 0.6rem;
}

.margin-left {
    margin-left: 0.6rem;
}

.margin-right {
    margin-right: 0.6rem;
}

.margin-top {
    margin-top: 0.6rem;
}

.margin-bottom {
    margin-bottom: 0.6rem;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.full-height-screen {
    height: 100vh;
}

.ui.input {
    width: 100%;
}

.ui.button {
    width: 100%;
    height: 3.5rem;
    background-color: var(--primaryColor);
    color: white;
    box-shadow: 0 0.9px 6.1px rgba(0, 0, 0, 0.028), 0 1.9px 16.9px rgba(0, 0, 0, 0.04), 0 3.4px 40.7px rgba(0, 0, 0, 0.052), 0 9px 135px rgba(0, 0, 0, 0.08);
}

.centerize {
    display: flex;
    justify-content: center;
    align-items: center;
}

a.header {
    color: var(--primaryColor)!important;
}

.content {
    padding: 0.8rem!important;
}

.ui.menu .active.item {
    background: var(--primaryColor);
    color: white;
}

.ui.list .list>.item a.header, .ui.list>.item a.header {
    cursor: pointer;
    color: var(--primaryColor) !important;
}

.card {
    box-shadow: 0 0px 2.2px rgba(0, 0, 0, 0.006), 0 0px 5.3px rgba(0, 0, 0, 0.008), 0 0px 10px rgba(0, 0, 0, 0.01), 0 0px 17.9px rgba(0, 0, 0, 0.012), 0 0px 33.4px rgba(0, 0, 0, 0.014), 0 0px 80px rgba(0, 0, 0, 0.02);
}

a:hover {
    color: var(--primaryColor);
}

.ui.input>input:focus {
    outline: none !important;
    border: 1px solid var(--primaryColor);
    box-shadow: rgba(0, 0, 0, 0.006);
}

.ui.modal .actions>.button {
    margin-left: 0rem;
}

.fade-appear .fade-enter {
    opacity: 1;
    z-index: 1;
}

.fade-appear-active.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}

.pageSliderRight-enter {
    transform: translate3d(-100%, 0, 0);
}

.pageSliderRight-enter-active {
    transform: translate3d(0, 0, 0);
    transition: all 400ms;
}

.pageSliderRight-exit {
    transform: translate3d(0, 0, 0);
}

.pageSliderRight-exit-active {
    transform: translate3d(-100%, 0, 0);
    transition: all 400ms;
}

.animated {
}