.pageContainer {
    flex: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding-top: 2rem;
}

.cardSize {
    width: 83%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardSize a {
    color: var(--colorPrimary);
}

.cardSize>div:nth-child(1) {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardSize>div:nth-child(1) i {
    font-size: 2.1rem;
}

.cardSize>div:nth-child(2) {
    flex: 3;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.cardSize>div:nth-child(2)>div:nth-child(1) {
    flex: 3;
    font-size: 1.2rem;
    font-weight: 600;
}

.cardSize>div:nth-child(2)>div:nth-child(2) {
    flex: 8;
}

.cardSize>div:nth-child(3) {
    flex: 0.5;
    font-size: 1.2rem;
    color: var(--priamaryColor);
}