.pageContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    justify-content: center;
}

.loaderContainer {
    display: flex;
    flex-direction: column;
    height: 12%;
    align-items: center;
    padding: 2rem;
}

.loaderContainer>div:nth-child(2) {
    margin-top: 1rem;
}

.pageContainer::-webkit-scrollbar {
    display: none;
}

.box {
    position: relative;
    width: 2.8rem;
    height: 2.8rem;
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    background: #262626;
    border-radius: 50%;
}

.box span:nth-child(1) {
    background: #6b6a6a;
    animation: animate 2s linear infinite;
}

.box span:nth-child(2) {
    background: var(--primaryColor);
    animation: animate 2s linear infinite;
    animation-delay: -1s;
}

@keyframes animate {
    0% {
        top: 0;
        left: 0;
    }
    5% {
        top: 0;
        left: 0;
    }
    20% {
        top: 0;
        left: 50%;
    }
    25% {
        top: 0;
        left: 50%;
    }
    50% {
        top: 50%;
        left: 50%;
    }
    55% {
        top: 50%;
        left: 50%;
    }
    75% {
        top: 50%;
        left: 0%
    }
    100% {
        top: 0;
        left: 0;
    }
}