.pageContainer {
    flex: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.pageContainer::-webkit-scrollbar {
    display: none;
}

.pageContainer>div {
    max-width: 100%;
    overflow: hidden;
    color: red;
    height: 100%;
    width: 100%;
}

.canvasForGoogleMap {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.canvasForGoogleMap img {
    max-height: none;
    max-width: none !important;
    background: none !important;
}

.canvasForGoogleMap iframe {
    height: 100%;
    width: 100%;
    border: 0;
}