.panelContainer {
    display: flex;
    flex-direction: column;
}

.titleBar {
    flex: 1.3;
    background-color: var(--primaryColor);
    color: white;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-size: 1.2rem;
}

.titleBar i:nth-child(1) {
    font-size:1.5rem;
    margin-right: 1.2rem;
    color: white;
}

.titleBar i:nth-child(2) {
    font-size: 1.3rem;
}

.titleBar>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageContainer {
    flex: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding-top: 1.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
    justify-content: center;
}

.pageContainer::-webkit-scrollbar {
    display: none;
}

.pageContainer>div:nth-child(2) {
    width: 88%;
}

.pageContainer>div:nth-child(1) {
    font-size: 2.3rem;
    font-family: "Poppins";
    margin-bottom: 1.7rem;
    color: var(--primaryColor);
}

.bottomMenuContainer {
    flex: 1;
}

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
}

.navLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.navLink i {
    font-size: 1.4em;
}

.navLink:hover {
    background-color: #eeeeee;
}

.navLink a:hover {
    color: var(--primaryColor);
}

.navLinkActive {
    color: var(--primaryColor);
}

.navIcon {
    font-size: 18px;
}

.resultsContainer {
    height: 85%;
    width: 85%;
    padding-top: 1.4rem;
    font-family: "poppins";
    font-weight: normal;
    transition: all ease-in .5s;
}

.header {
    color: green!important;
}