.pageContainer {
    flex: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding-top: 1.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.pageContainer::-webkit-scrollbar {
    display: none;
}

.pageContainer>div:nth-child(1) {
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 500;
}

.formContainer {
    width: 85%;
    height: 86%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0.7rem;
}

.formContainer>div:nth-child(1) {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.formContainer>div:nth-child(2) {
    flex: 2.5
}

.formContainer input {
    height: 3rem;
}

.uploadBtnWrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 0.4rem;
}

.btn {
    border: 2px solid var(--primaryColor);
    color: var(--primaryColor);
    background-color: white;
    padding: 1rem 0.9rem;
    border-radius: 8px;
    font-size: 1rem;
}

.uploadBtnWrapper input[type=file] {
    font-size: 1rem;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.preview {
    height: 70%;
    display: flex;
}

.preview img {
    flex: 1 ;
    width: 100%;
    object-fit: cover;
    height: 100%;
}