.pageContainer {
    flex: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding-top: 1.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
    justify-content: flex-start;
}

.pageContainer::-webkit-scrollbar {
    display: none;
}

.pageContainer {
    display: flex;
    flex-direction: column;
}

.pageContainer>div:nth-child(1) {
    flex: 1;
}

.pageContainer>div:nth-child(1)>div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 1.22rem;
}

.pageContainer>div:nth-child(1)>div:nth-child(2) {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    padding: 0.4rem 1.22rem;
}

.pageContainer>div:nth-child(1)>div:nth-child(3) {
    height: 73%
}

.pageContainer>div:nth-child(1)>div:nth-child(3) img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    padding-bottom: 1.22rem;
}

.pageContainer>div:nth-child(2) {
    flex: 1;
}

.newsFeed {
    width: 100%;
    height: 27rem;
}

.newsFeed>div:nth-child(2) {
    width: 96%;
}

.comments {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.comments i {
    font-size: 1.9rem;
}

.comment {
    background-color: #dcdcdc63;
    border-radius: 4rem;
    padding: 1rem;
    max-width: 20rem;
    margin: 0.4rem 0rem;
}

.commentItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.commentForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.commentForm i {
    font-size: 2rem;
    text-align: center;
    margin-top: auto;
    color: var(--primaryColor);
    margin-left: 0.7rem;
}