.pageContainer {
    flex: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding-top: 1.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.pageContainer::-webkit-scrollbar {
    display: none;
}

.pageContainer>div:nth-child(1) {
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 500;
}

.pageContainer>div:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.pageContainer>div i {
    font-size: 1.8rem;
    color: var(--primaryColor);
}

.newsFeedContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start!important;
    align-items: center;
    width: 25rem;
}

.newsFeedContainer>div {
    margin-bottom: 3rem;
}

.newsFeed {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 65%;
    justify-content: flex-start;
    box-shadow: 0 1.6px 7.3px rgba(0, 0, 0, 0.008), 0 3.9px 17.6px rgba(0, 0, 0, 0.012), 0 7.3px 33.1px rgba(0, 0, 0, 0.015), 0 13px 59px rgba(0, 0, 0, 0.018), 0 24.2px 110.3px rgba(0, 0, 0, 0.022), 0 58px 264px rgba(0, 0, 0, 0.03);
    padding: 1.2rem;
}

.newsFeed a {
    color: black;
}

.newsFeed img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.newsFeed>div:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.newsFeed>div:nth-child(2) {
    margin-top: 0.5rem;
    margin-bottom: 1.1rem;
    font-size: 1.1rem;
}

.newsFeed>div {
    width: 100%;
    height: 80%;
}

.uploadContainer {
    display: flex;
}

.uploadContainer>div {
    flex: 1;
}