.loginContainer {
    background-color: var(--primaryColor);
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.logoContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 15pt;
    color: white;
}

.logoContainer svg {
    width: 6rem;
    height: 6rem;
}

.logoContainer svg path {
    fill: white;
}

.logoContainer div:nth-child(2) {
    margin-top: 0.5rem
}

.formContainer {
    flex: 10;
    background-color: white;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    padding: 1.5rem 1.8rem;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
}

.loginTitle {
    flex: 1.2;
    display: flex;
    align-items: center;
}

.loginTitle i {
    font-size: 3rem;
}

.formExplanation {
    flex: 1.3;
    font-size: 1.06rem;
    opacity: 0.65;
}

.inputContainer {
    flex: 9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.inputContainer input {
    height: 3.5rem;
    color: #00000091;
}

.buttonContainer {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonContainer button {
    height: 3.5rem;
}

.buttonContainer a {
    color: var(--primaryColor);
}