.pageContainer {
    flex: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding-top: 1.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.pageContainer::-webkit-scrollbar {
    display: none;
}

.pageContainer>div:nth-child(1) {
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.rendezVousItem {
    width: 100%;
    display: flex;
    padding: 1rem;
    margin: 1rem 0rem;
}

.rendezVousItem>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rendezVousItem>div:nth-child(1) {
    flex: 1;
    font-size: 2rem;
}

.rendezVousItem>div:nth-child(2) {
    flex: 4.8;
}