.pageContainer {
    flex: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding-top: 1.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.pageContainer::-webkit-scrollbar {
    display: none;
}

.infosContainer {
    width: 85%;
    margin-top: 1rem;
}

.infosContainer strong {
    font-size: 1.1rem;
    font-weight: 600;
    margin-right: 0.5rem;
}
.infosContainer > div{
    margin-bottom: 1.5rem;
}